.link-hover:hover{
text-decoration:underline 2px;
text-decoration-color: rgb(8, 8, 8);
color: rgb(30, 29, 29);
}
.link-hover{
  padding: 1rem;
}

.feature{
  display: flex;
justify-content: space-between;
align-items: center;
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9px;
    background: #128C7E;
    transform-origin: 0%;
  }
  
  .boldertext{
  font-weight:600;
  }



  .lefttext{
    margin-left: 15%;
  }
  .righttext{
    margin-right: 15%;
  }
  @media only screen and (max-width:786px){
    .lefttext{
      margin-left: 0;
    }
    .righttext{
      margin-right: 0;
    }
  }